PRODUCT_NAME = Tickline
APP_DISPLAY_NAME = Tickline

APP_PRODUCT_BUNDLE_IDENTIFIER = com.example.tickline
APP_PRODUCT_COPYRIGHT = Copyright © 2026 Your Name. All rights reserved.

APP_CODE_SIGN_STYLE = Automatic
APP_DEVELOPMENT_TEAM =
APP_PROVISIONING_PROFILE_SPECIFIER =
APP_CODE_SIGN_IDENTITY =

#include? "Local.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(APP_PRODUCT_BUNDLE_IDENTIFIER)
PRODUCT_COPYRIGHT = $(APP_PRODUCT_COPYRIGHT)
CODE_SIGN_STYLE = $(APP_CODE_SIGN_STYLE)
DEVELOPMENT_TEAM = $(APP_DEVELOPMENT_TEAM)
PROVISIONING_PROFILE_SPECIFIER = $(APP_PROVISIONING_PROFILE_SPECIFIER)
CODE_SIGN_IDENTITY = $(APP_CODE_SIGN_IDENTITY)
